extends _layout/layout.pug
block main 

	section.home_slider
		.container
			.row
				.col
					h1 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque quaerat quis quasi ullam quos. Saepe quia, amet, pariatur cumque laboriosam nesciunt quis reiciendis fugit deleniti illo praesentium soluta ratione beatae!
					p
						a(href="#").btn.btn_more work with us
	section.home_services
		.container
			.row
				.col
					h2 SERVICES WE PROVIDE
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, dolorum ipsa.
			.row
				.col-sm-6.col-md-3
					img(src="./img/home_icon_1.png", alt="")
					h3 branding
					p.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic necessitatibus unde exercitationem! 
				.col-sm-6.col-md-3
					img(src="./img/home_icon_2.png", alt="")
					h3 branding
					p.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic necessitatibus unde exercitationem!  
				.col-sm-6.col-md-3
					img(src="./img/home_icon_3.png", alt="")
					h3 branding
					p.atext Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic necessitatibus unde exercitationem! 
				.col-sm-6.col-md-3
					img(src="./img/home_icon_4.png", alt="")
					h3 branding
					p.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic necessitatibus unde exercitationem!
	.home_ourbeautiful
		.container
			.row
				.col
					h2 MEET OUR BEAUTIFUL TEAM
					h6 we are small team of designers and deverlopers,who help brand with big ideas
			.row
				.col-sm-6.col-md-3
					img(src="./img/home_imager_epresent_1.png", alt="")
					h4 ANNE HATHAWAY
					h6 CEO/ MAKETING
					p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium, tenetur. Cupiditate, nam omnis 
				.col-sm-6.col-md-3
					img(src="./img/home_imager_epresent_1.png", alt="")
					h4 ANNE HATHAWAY
					h6 CEO/ MAKETING
					p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium, tenetur. Cupiditate, nam omnis 
				.col-sm-6.col-md-3
					img(src="./img/home_imager_epresent_1.png", alt="")
					h4 ANNE HATHAWAY
					h6 CEO/ MAKETING
					p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium, tenetur. Cupiditate, nam omnis 
				.col-sm-6.col-md-3
					img(src="./img/home_imager_epresent_1.png", alt="")
					h4 ANNE HATHAWAY
					h6 CEO/ MAKETING
					p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium, tenetur. Cupiditate, nam omnis 